{% extends 'base.html.twig' %}

{% block body %}

    <h2>Liste des ingrédients</h2>

    <table class="table table-striped">
        <thead>
            <th>ID</th>
            <th>Ajouté le</th>
            <th>Ingrédient</th>
            <th>Type</th>
            <th>Calories</th>
        </thead>
    <tbody>

    {% for record in records %}
        <tr>
            <td><a href="{{ path('edit-new-record',{'id':record.id}) }}">{{ record.id }}</a></td>
            <td>{{ record.recordedAt|date('d/m/Y') }}</td>
            <td>{{ record.entitled }} ({{ record.getPercentProteineByCal() }})</td>
            <td>{{ record.type }}</td>
            <td>{{ record.calories }} Cal</td>
        </tr>

    {% endfor %}
        </tbody>
        </table>


        <a href="{{ path('add-new-record') }}" type="button" class="btn btn-success btn-lg pull-right"><i class="fa fa-plus-square"></i> Ajouter une nouvelle entrée</a>

{% endblock %}